<label>Date and Time you first notice this bug *</label>
<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker>
    </div>   
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <timepicker></timepicker>
    </div>
</div>
<label>Impact</label>
<div class="form-group">
    <select class="custom-select">
        <option selected>Low</option>
        <option>Medium</option>
        <option>High</option>     
    </select>
</div>
<label>Details Explanation of bug *</label>
<div class="form-group">
    <textarea role="3" class="form-control"></textarea>
</div>
