<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-md-6" style="text-align: center;padding-top: 40px">
        <h1><span style="color: violet">Contact Our</span></h1>
        <h1><span>Customer Support Center</span></h1>
      </div>
      <div class="col-md-6"><img src="../assets/MarvellousImage.jpeg"></div>
    </div>
    <div style="text-align: center">
      <h2>Contact Information</h2><p>Please fill out your contact information below</p>
    </div>
    <label>Name <span style="color: violet">*</span></label>
    <div class="row">
      <div class="col-md-4">
          <input type="text" class="form-control"><span style="font-size: 14px">First Name</span>
      </div>
      <div class="col-md-4">
          <input type="text" class="form-control"><span style="font-size: 14px">Last Name</span>
      </div>
    </div>
    <label>Email<span style="color: violet">*</span></label>
    <div class="row"><div class="col-md-12"><input type="email" class="form-control"></div></div>
    <label>Phone<span style="color: violet">*</span></label>
    <div class="row"><div class="col-md-12"><input type="text" class="form-control"></div></div>
    <label>Address<span style="color: violet">*</span></label>
    <div class="row"><div class="col-md-12"><input type="text" class="form-control"></div></div>
  </form>
<div>

